body {
  font-family: sans-serif;
  background-color: white;
}

.loginBox {
  display: flex;
  width: 450px;
  height: 500px;
  margin: 90px auto;
  background-color: white;
  border: 1px solid rgb(192, 189, 189);
  border-radius: 4px;
  flex-direction: column;
}

.logo {
  margin: 40px auto;
}

.input {
  margin: 15px auto;
  height: 20px;
  border: 1px solid rgb(211, 208, 208);
  border-radius: 5px;
  outline: cornflowerblue 0.2px currentColor;
  font-size: 15px;
  padding: 10px 15px;
  width: 85%;
  background-color: white;
}

.signIn {
  margin: 23px auto;
  height: 45px;
  width: 150px;
  font-size: 20px;
  color: whitesmoke;
  border: none;
  border-radius: 5px;
  background-color: cornflowerblue;
}

.or {
  display: flex;
  flex-direction: row;
}
