body {
  font-family: sans-serif;
  background: url('../images/background.png');
  background-size: cover;
}

.loginBox {
  display: flex;
  width: 400px;
  height: fit-content;
  margin: 90px auto;
  border: 1px solid rgb(117, 117, 117);
  border-radius: 8px;
  flex-direction: column;
}

.logo {
  margin: 40px auto;
  color: rgb(211, 208, 208);
}

.input {
  margin: 15px auto;
  height: 20px;
  border: none;
  border-bottom: 1px solid rgb(211, 208, 208);
  outline: none;
  font-size: 18px;
  padding: 10px 15px;
  width: 80%;
  background-color: inherit;
  color: whitesmoke;
}

.buttons {
  margin: 23px;
  display: flex;
  justify-content: space-around;
  flex-flow: row;
}

.signIn {
  margin: 23px auto;
  height: 37px;
  width: 140px;
  font-size: 20px;
  color: black;
  border: none;
  outline-color: rgb(117, 117, 117);
  border-radius: 5px;
  background-color: rgb(180, 175, 175);
}
