* {
  font-family: sans-serif;
  background-color: rgb(46, 46, 46);
}

.heading {
  text-align: center;
  color: whitesmoke;
  border-bottom: 4px solid;
  padding: 0 15px;
  justify-content: center;
  margin: 35px 0;
}

#todoTitle {
  height: 20px;
  border: none;
  border-bottom: 2px solid rgb(197, 194, 194);
  outline: none;
  font-size: 20px;
  padding: 5px 10px;
  width: 95%;
  color: whitesmoke;
}

.deleteLogo {
  width: 20px;
  height: 20px;
  margin-left: auto;
  margin-top: 18px;
  margin-right: 12px;
}

.todoTitleBar {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}

.todoAdder {
  margin: 0 auto;
  width: 400px;
  border: 1px solid grey;
  border-radius: 10px;
  padding: 15px 17px;
}

.cardTitle {
  font-size: 18px;
  font-weight: 700;
  margin-left: 10px;
  color: whitesmoke;
}

.cardTitleBar {
  display: flex;
  flex-flow: row;
  margin-bottom: 0px;
  border: none;
  border-radius: 10px;
  border-bottom: solid 1px grey;
  color: whitesmoke;
  width: 100%;
}

.taskList {
  margin-top: 0px;
  margin-bottom: 10px;
  display: flex;
  flex-flow: column;
  width: 100%;
}

.savedTask {
  margin: 10px;
  font-size: 15px;
  color: whitesmoke;
}

.task {
  font-size: 15px;
  color: whitesmoke;
}

.todoCard {
  width: 200px;
  display: flex;
  flex-flow: column;
  border: 1px solid grey;
  border-radius: 10px;
  margin: 20px;
}

#todoList {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 20px;
}

#save {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.taskBar {
  display: flex;
  flex-flow: row;
}
.checkBox {
  width: 20px;
  height: 20px;
  margin: 0px;
  margin-top: 9px;
  margin-left: 5px;
}

.task {
  height: 20px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  font-size: 15px;
  padding: 10px 5px 3px;
  color: whitesmoke;
}
