* {
  font-family: sans-serif;
  background-color: rgb(46, 46, 46);
}

.heading {
  align-items: center;
  color: whitesmoke;
  border-left: 4px solid;
  padding: 0 15px;
  display: flex;
  margin: 35px 0;
}

#todoTitle {
  height: 20px;
  border: none;
  border-bottom: 2px solid rgb(197, 194, 194);
  outline: none;
  font-size: 20px;
  padding: 5px 10px;
  width: 95%;
  color: whitesmoke;
}

.todoTitleBar {
  display: flex;
  flex-flow: row;
}

.todoAdder {
  width: 20%;
  border: 2px solid grey;
  border-radius: 10px;
  padding: 15px 17px;
}

#save {
  width: 20px;
  height: 20px;
  margin-left: auto;
}

.task {
  height: 20px;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 100%;
  font-size: 15px;
  padding: 10px 5px 3px;
  color: whitesmoke;
}
